*{
    background-color: lightgray;
    font-family: sans-serif;
}

.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    width: 300px;
    height: 400px;
    border-radius: 25px 25px 70px 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

label, input{
    background-color: whitesmoke;
}

label{
    color: gray;
    font-size: 13px;
    font-weight: bold;
}

input{
    background-color: whitesmoke;
    border-radius: 5px;
    width: 40px;
    height: 25px;
    border: 1px solid gray;
    padding: 5px 10px;
    font-weight: bold;
}

.anio, .mes, .dia{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.fecha{
    display: flex;
    background-color: whitesmoke;
    gap: 20px;
}

.separador{
    margin: 50px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linea{
    border: 2px solid lightgray;
    width: 80%;
    position: absolute;
    top: 165px;
}

.circulo{
    position: absolute;
    background-color: blueviolet;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.flecha{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: none;
}

.izquierda {
    position: inherit;
    left: 1px;
    border-right: 1px solid white;
    border-top: 1px solid white; 
    border-radius: 0 70% 0 0;
    background: none;
    height: 10px;
    width: 10px;
}


.palo{
    position: inherit;
    width: 1px;
    height: 20px;
    background-color: white;
    top: -5px;
}

.derecha{
    position: inherit;
    right: 1px;
    border-left: 1px solid white;
    border-top: 1px solid white; 
    border-radius: 70% 0 0 0;
    background: none;
    height: 10px;
    width: 10px;
}

.izquierda, .derecha{
    top: 8px;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

input:focus {
    outline: none;
}

.edad {
    background: none;
}

.edad label{
    font-size: 36px;
    font-style: italic;
}

.mensaje{
    color: black;
    padding-left: 10px;
}

.digitos-anios,
.digitos-meses,
.digitos-dias {
    color: blueviolet;
}

.anios,
.meses,
.dias {
    background: none;
}